@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="~/Css/SeatLayout.css">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="Button" style=" background: #f42536"></button>
                <label class="Label">Booked Seats</label>
            </div>
            <div class="col-md-4" >
                <button type="button" class="Button" style=" background: #bada55"></button>
                <label class="Label">Available Seats</label>
            </div>
            <div class="col-md-4">
                <button type="button" class="Button" style=" background: #ffd800"></button>
                <label class="Label">Selected Seats</label>
            </div>
        </div>
    </div>
    <div>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="plane">
                <div class="cockpit">
                    <h1 class="bookseat">Please select your seat</h1>
                </div>
                <div class="exit exit--front fuselage">

                </div>
                <ol class="cabin fuselage">
                    <li class="row row--1">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="1A" />
                                <label for="1A">1A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="1B" />
                                <label for="1B">1B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" disabled id="1C" />
                                <label for="1C">1C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="1D" />
                                <label for="1D">1D</label>
                            </li>

                        </ol>
                    </li>
                    <li class="row row--2">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="2A" />
                                <label for="2A">2A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="2B" />
                                <label for="2B">2B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="2C" />
                                <label for="2C">2C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="2D" />
                                <label for="2D">2D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--3">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="3A" />
                                <label for="3A">3A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="3B" />
                                <label for="3B">3B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="3C" />
                                <label for="3C">3C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="3D" />
                                <label for="3D">3D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--4">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="4A" />
                                <label for="4A">4A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="4B" />
                                <label for="4B">4B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="4C" />
                                <label for="4C">4C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="4D" />
                                <label for="4D">4D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--5">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="5A" />
                                <label for="5A">5A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="5B" />
                                <label for="5B">5B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="5C" />
                                <label for="5C">5C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="5D" />
                                <label for="5D">5D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--6">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="6A" />
                                <label for="6A">6A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="6B" />
                                <label for="6B">6B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="6C" />
                                <label for="6C">6C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="6D" />
                                <label for="6D">6D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--7">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="7A" />
                                <label for="7A">7A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="7B" />
                                <label for="7B">7B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="7C" />
                                <label for="7C">7C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="7D" />
                                <label for="7D">7D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--8">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="8A" />
                                <label for="8A">8A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="8B" />
                                <label for="8B">8B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="8C" />
                                <label for="8C">8C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="8D" />
                                <label for="8D">8D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--9">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="9A" />
                                <label for="9A">9A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="9B" />
                                <label for="9B">9B</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="9C" />
                                <label for="9C">9C</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="9D" />
                                <label for="9D">9D</label>
                            </li>
                        </ol>
                    </li>
                    <li class="row row--10">
                        <ol class="seats" type="A">
                            <li class="seat">
                                <input type="checkbox" id="10A" />
                                <label for="10A">9A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="10B" />
                                <label for="10B">9A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="10C" />
                                <label for="10C">9A</label>
                            </li>
                            <li class="seat">
                                <input type="checkbox" id="10D" />
                                <label for="10D">9A</label>
                            </li>
                        </ol>
                    </li>
                </ol>
                <div class="exit exit--back fuselage">

                </div>
            </div>
        </div>

        <div class="col-md-5 mt-3" >
            <input type="button" value="Confirm" class="btn btn-primary btn-sm" id="confirm" />
            <label>Click to confirm your selected seats</label>
            <div>
                <hr/>
            </div>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th id="tablehead">Serial No.</th>
                            <th id="tablehead">SeatNo</th>
                        </tr>
                    </thead>
                    <tbody id="TicketSelect">
                    </tbody>
                </table>
            </div>
            <div id="SeatNotSelected">
            </div>
            <div>
                <button id="Proceed" class="btn btn-danger">Proceed To Pay</button>
            </div>
        </div>
</div>

<script>
    $(document).ready(function () {
        $('.table th,td').hide();
        $("#Proceed").hide();
        $('input[type="checkbox"]').click(function (e) {
            if ($(this).prop("checked") == true) {
                var text = $(this).attr("id");
                $('.table th,td').hide();
                $("#Proceed").hide();
            }
            else if ($(this).prop("checked") == false) {
                var text = $(this).attr("id");
                $('.table th,td').hide();
                $("#Proceed").hide();
            }
        });

        $("#confirm").click(function () {
            $("#TicketSelect").children().remove();
            $("#SeatNotSelected").children().remove();
           
            var i = 1;
            $('.cabin > li').each(function () {
                //  var list = $(li);
                
                $(this).find('ol li >input ').each(function () {
                    if ($(this).prop("checked") == true) {
                        var text = $(this).attr('id');
                        var result ="<tr>"
                        result += "<td id='tblData'> " + (i++) + "</td><td id='tblData'>" + text + "</td></tr>";
                        $("#TicketSelect").append(result);
                    }

                });
               
            });
            if (i > 1) {
                $(".table th,td").show();
                $("#Proceed").show();
            }
            else {
                var result = "<h1>Please Select Seat</h1>";
                $("#SeatNotSelected").append(result);
                $("#SeatNotSelected").show();
            }

        });
    });
</script>